.is-boxed {
    background: color(bg, 3);
}

.body-wrap {
    background: color(bg, 2);
    overflow: hidden;
    /* Sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.boxed-container {
    max-width: 1440px;
    margin: 0 auto;
    @include shadow;
    mix-blend-mode: normal;
}

main {
    flex: 1 0 auto;
}

.section-inner {
    position: relative; /* To always display inner elements above pseudo decorative stuff */
    padding-top: 48px;
    padding-bottom: 48px;
}

@include media( '>medium' ) {

    .section-inner {
        padding-top: 88px;
        padding-bottom: 88px;
    }
}
.container {
	max-height: 200px;
	border: 1px solid #dadada;
	overflow: auto;
}
&::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}
&::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: $background-color_1;
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
